<a href="https://colab.research.google.com/github/Shilajit-CR7/ML-Works/blob/main/Pokemon_Classification_(Image%2CSVM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from keras_preprocessing import image

In [ ]:
import os
from pathlib import Path

In [ ]:
p = Path('../../Documents/DAtaset/test/')

In [ ]:
dirs = p.glob("*")
image_data = []
for folders in dirs:
    #print(folders)
    label = str(folders).split("\\")[-1]
    #print(label)
    for img_path in folders.glob('*.jpg'):
        #print(img_path)
        img = image.load_img(img_path,target_size=(50,50))
        img_array = image.img_to_array(img)
        image_data.append(img_array)

C:\Users\Shilajit-CR7\AppData\Local\Programs\Python\Python39\lib\site-packages\PIL\Image.py:992: UserWarning: Palette images with Transparency expressed in bytes should be converted to RGBA images
  warnings.warn(

In [ ]:
image_data[0]

array([[[146., 191., 232.],
        [146., 191., 232.],
        [149., 192., 234.],
        ...,
        [151., 195., 232.],
        [150., 194., 233.],
        [148., 191., 233.]],

       [[149., 192., 234.],
        [149., 192., 234.],
        [149., 193., 232.],
        ...,
        [155., 197., 235.],
        [153., 197., 234.],
        [150., 194., 233.]],

       [[149., 193., 232.],
        [150., 194., 233.],
        [152., 196., 235.],
        ...,
        [157., 200., 235.],
        [155., 197., 235.],
        [151., 195., 232.]],

       ...,

       [[ 82., 140., 213.],
        [ 79., 137., 210.],
        [ 79., 137., 211.],
        ...,
        [ 74., 133., 209.],
        [ 74., 133., 209.],
        [ 74., 133., 209.]],

       [[ 80., 140., 212.],
        [ 80., 138., 212.],
        [ 78., 136., 210.],
        ...,
        [ 75., 135., 208.],
        [ 76., 136., 209.],
        [ 75., 135., 208.]],

       [[ 81., 141., 211.],
        [ 79., 139., 211.],
        [ 78., 138., 208.],
        ...,
        [ 79., 137., 211.],
        [ 79., 137., 211.],
        [ 79., 137., 211.]]], dtype=float32)

In [ ]:
labels = pd.read_csv('Train.csv')

In [ ]:
labels = labels['NameOfPokemon']

In [ ]:
labels

0         Pikachu
1         Pikachu
2         Pikachu
3         Pikachu
4         Pikachu
          ...
299    Charmander
300    Charmander
301    Charmander
302    Charmander
303    Charmander
Name: NameOfPokemon, Length: 304, dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
labels = le.fit_transform(labels)

In [ ]:
labels

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [ ]:
df = np.array(image_data)
type(df)

numpy.ndarray

In [ ]:
from sklearn import svm

In [ ]:
df = df.reshape(df.shape[0],-1)

In [ ]:
df.shape

(304, 7500)

In [ ]:
model = svm.SVC(kernel='poly',C=1)
model = model.fit(df,labels)
model.score(df,labels)

0.9802631578947368

# Test Data

In [ ]:
p = Path('../../Documents/DAtaset/Test (2)//')

In [ ]:
dirs = p.glob("*")
image_data = []
for folders in dirs:
    #print(folders)
    label = str(folders).split("\\")[-1]
    #print(label)
    for img_path in folders.glob('*.jpg'):
        #print(img_path)
        img = image.load_img(img_path,target_size=(50,50))
        img_array = image.img_to_array(img)
        image_data.append(img_array)

In [ ]:
df = np.array(image_data)

In [ ]:
df = df.reshape(df.shape[0],-1)

In [ ]:
ypred = model.predict(df)

In [ ]:
ypred = le.inverse_transform(ypred)

In [ ]:
ypred = pd.DataFrame(ypred)

In [ ]:
ypred

              0
0     Bulbasaur
1     Bulbasaur
2     Bulbasaur
3     Bulbasaur
4     Bulbasaur
..          ...
118  Charmander
119  Charmander
120  Charmander
121  Charmander
122  Charmander

[123 rows x 1 columns]

In [ ]:
# Taking the path of every images inside different folders
dirs = p.glob("*")
name = []
for folders in dirs:
    #print(folders)
    label = str(folders).split("\\")[-1]
    #print(label)
    for img_path in folders.glob('*.jpg'):
        print(str(img_path).split('\\')[-1])
        name.append(str(img_path).split('\\')[-1])

1100.jpg
1101.jpg
1102.jpg
1103.jpg
1104.jpg
1105.jpg
1106.jpg
1107.jpg
1108.jpg
1109.jpg
1110.jpg
1111.jpg
1112.jpg
1113.jpg
1114.jpg
1115.jpg
1116.jpg
1117.jpg
1118.jpg
1119.jpg
1120.jpg
1121.jpg
1122.jpg
1123.jpg
1124.jpg
1125.jpg
1126.jpg
1127.jpg
1128.jpg
1129.jpg
1130.jpg
1131.jpg
1132.jpg
1133.jpg
1134.jpg
1135.jpg
1136.jpg
1137.jpg
1138.jpg
1139.jpg
1140.jpg
2000.jpg
2001.jpg
2002.jpg
2003.jpg
2004.jpg
2005.jpg
2006.jpg
2007.jpg
2008.jpg
2009.jpg
2010.jpg
2011.jpg
2012.jpg
2013.jpg
2014.jpg
2015.jpg
2016.jpg
2017.jpg
2018.jpg
2019.jpg
2020.jpg
2021.jpg
2022.jpg
2023.jpg
2024.jpg
2025.jpg
2026.jpg
2027.jpg
2028.jpg
2029.jpg
2030.jpg
2031.jpg
2032.jpg
2033.jpg
2034.jpg
2035.jpg
2036.jpg
2037.jpg
2038.jpg
2039.jpg
2040.jpg
2200.jpg
2201.jpg
2202.jpg
2203.jpg
2204.jpg
2205.jpg
2206.jpg
2207.jpg
2208.jpg
2209.jpg
2210.jpg
2211.jpg
2212.jpg
2213.jpg
2214.jpg
2215.jpg
2216.jpg
2217.jpg
2218.jpg
2219.jpg
2220.jpg
2221.jpg
2222.jpg
2223.jpg
2224.jpg
2225.jpg
2226.jpg
2227.jpg
2228.jpg
2229.jpg
2230.jpg
2231.jpg
2232.jpg
2233.jpg
2234.jpg
2235.jpg
2236.jpg
2237.jpg
2238.jpg
2239.jpg
2240.jpg

In [ ]:
name = pd.DataFrame(name)
name

            0
0    1100.jpg
1    1101.jpg
2    1102.jpg
3    1103.jpg
4    1104.jpg
..        ...
118  2236.jpg
119  2237.jpg
120  2238.jpg
121  2239.jpg
122  2240.jpg

[123 rows x 1 columns]

In [ ]:
submission = pd.concat([name,ypred],axis=1)

In [ ]:
submission.columns = columns = ['ImageId','NameOfPokemon']
submission

      ImageId NameOfPokemon
0    1100.jpg     Bulbasaur
1    1101.jpg     Bulbasaur
2    1102.jpg     Bulbasaur
3    1103.jpg     Bulbasaur
4    1104.jpg     Bulbasaur
..        ...           ...
118  2236.jpg    Charmander
119  2237.jpg    Charmander
120  2238.jpg    Charmander
121  2239.jpg    Charmander
122  2240.jpg    Charmander

[123 rows x 2 columns]

In [ ]:
submission.to_csv('TYSM.csv',index=False)

In [ ]:
ss = pd.read_csv('abc.csv')

In [ ]:
pred = []
for i in range(0,123):
    ss.ImageId[i]

      ImageId
0    1106.jpg
1    2236.jpg
2    1131.jpg
3    2221.jpg
4    2011.jpg
..        ...
118  1124.jpg
119  2014.jpg
120  2235.jpg
121  1126.jpg
122  2021.jpg

[123 rows x 1 columns]

In [ ]:
final = pd.merge(ss,submission,on='ImageId')

In [ ]:
final

      ImageId NameOfPokemon
0    1106.jpg     Bulbasaur
1    2236.jpg    Charmander
2    1131.jpg     Bulbasaur
3    2221.jpg    Charmander
4    2011.jpg    Charmander
..        ...           ...
118  1124.jpg     Bulbasaur
119  2014.jpg       Pikachu
120  2235.jpg    Charmander
121  1126.jpg     Bulbasaur
122  2021.jpg    Charmander

[123 rows x 2 columns]

In [ ]:
final.to_csv('TYSM.csv',index=False)